.sidebar {
  width: 18%;
  min-height: 100vh;
  margin-top: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  font-size: max(1vw, 1rem);
}

.sidebar-items {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
