.sidebar {
  width: 18%;
  min-height: 100vh;
  margin-top: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  font-size: max(1vw, 1rem);
}

.sidebar-items {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-weight: 500;
  color: var(--primary-color);

  padding: 1rem 0.5rem;
  border-right: 0;

  box-shadow: 0px 0px 8px #00000025;
  transition: 0.3s;
  animation: fadeIn 1s;
  cursor: pointer;
}

.sidebar-item img {
  width: 1.5rem;
}

.sidebar-item:hover {
  box-shadow: 0px 0px 10px #00000035;
}

@media (max-width: 900px) {
  .sidebar-item {
    justify-content: center;
  }
  .sidebar-item p {
    display: none;
  }
}
