.navbar {
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  width: 3.5rem;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 1.25rem;
  color: var(--primary-color);
  font-size: 1.125rem;
  font-weight: 500;
}

.navbar-menu li {
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar-right img {
  width: 2rem;
}

.navbar button {
  background-color: transparent;
  font-size: 1rem;
  color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  padding: 0.625rem 1.875rem;
  border-radius: 3.125rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
}

.navbar button:hover {
  background-color: var(--secondary-color);
  color: white;
}

.navbar .active {
  padding-bottom: 0.125rem;
  border-bottom: 0.125rem solid var(--secondary-color);
  transition: all 0.1s ease;
}

.navbar-search-icon {
  position: relative;
  cursor: pointer;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 0.625rem;
  min-height: 0.625rem;
  background-color: var(--secondary-color);
  border-radius: 0.3125rem;
  top: -0.5rem;
  right: -0.5rem;
}
