.verify-container {
  min-height: 60vh;
  display: grid;
}

.spinner {
  height: 6.25rem;
  width: 6.25rem;
  place-self: center;
  border: 0.3125rem solid var(--primary-color-light);
  border-top-color: var(--primary-color);
  animation: rotate 1s infinite;
  border-radius: 50%;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
